 //registry.npmjs.org/:_authToken=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
 @dgswcns:registry=https://npm.pkg.github.com/

@dgswcns:registry=https://npm.pkg.github.com
//npm.pkg.github.com/:_authToken=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